* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}
nav {
  display: flex;
  background-color: maroon;
  border: 2px solid black;
  padding: 1em;
}

h1 {
  margin-left: 80vh;
  float: right;
  color: goldenrod;
}

img {
  justify-content: start;
}

form {
  display: inline-block;
  margin: 5vh;
}

button {
  border-radius: 20px;
  width: 100px;
  color: white;
  background-color: aqua;
}

.task-list {
  color: brown;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}
